@import '_colors.sass'
*
    padding: 0
    margin: 0
    box-sizing: border-box

// Настройка для отображения скрытых элементов карусели Slick
body 
  overflow-x: hidden

.partners .partners_container .slick-list, .news .news_container .slick-list, .slider .slider_main .slick-list 
  overflow: visible

.button
    background: none
    border: none
    padding: 0
    cursor: pointer
    &:focus
         outline: none
.arrow
    &:hover::before
        color: $text-hover-red
    &::before
        font-family: 'Material Icons'
        font-size: 24px
        line-height: 24px
        display: inline-block
        color: $text-hover  
    &_right::before
        content: '\e5c8'
    &_left::before
        content: '\e5c4' 
.slick-disabled:before
    opacity: 0.2         
.category
    display: inline-block
    padding: 10px
    background-color: $text-hover-red  
    color: #fff

    