* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.partners .partners_container .slick-list, .partners .subscribe_container .slick-list, .news .news_container .slick-list, .news .grey_bg .container .slick-list, .grey_bg .news .container .slick-list, .news .partners .container .slick-list, .partners .news .container .slick-list, .news .grey_bg .slider_item-container .slick-list, .grey_bg .news .slider_item-container .slick-list, .news .partners .slider_item-container .slick-list, .partners .news .slider_item-container .slick-list, .news .grey_bg .partners_container .slick-list, .grey_bg .news .partners_container .slick-list, .news .partners .partners_container .slick-list, .partners .news .partners_container .slick-list, .news .grey_bg .subscribe_container .slick-list, .grey_bg .news .subscribe_container .slick-list, .news .partners .subscribe_container .slick-list, .partners .news .subscribe_container .slick-list, .news .contest_container .slick-list, .slider .slider_main .slick-list, .contest .contest_slider .slick-list {
  overflow: visible;
}

.slick-list {
  overflow: visible;
}

.button, .slider_navigation_dots ul li button[type='button'] {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button:focus, .slider_navigation_dots ul li button:focus[type='button'] {
  outline: none;
}

.arrow:hover::before {
  color: #E06769;
}

.arrow::before {
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  color: #267D92;
}

.arrow_right::before {
  content: '\e5c8';
}

.arrow_left::before {
  content: '\e5c4';
}

.slick-disabled:before {
  opacity: 0.2;
}

.category {
  display: inline-block;
  padding: 10px;
  background-color: #E06769;
  color: #fff;
}

* {
  font-family: 'IBM Plex Mono', monospace;
}

.size-1 {
  font-size: 36px !important;
}

.size-2 {
  font-size: 24px !important;
}

.size-3 {
  font-size: 18px !important;
}

.size-4 {
  font-size: 16px !important;
}

.size-5 {
  font-size: 14px !important;
}

@media (max-width: 770px) {
  .size-3 {
    font-size: 16px !important;
  }
}

.container, .slider_item-container, .news_container, .partners_container, .subscribe_container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 12px;
  margin: auto;
}

@media (max-width: 1360px) {
  .container, .slider_item-container, .news_container, .partners_container, .subscribe_container {
    padding: 0 60px;
  }
}

@media (max-width: 328px) {
  .container, .slider_item-container, .news_container, .partners_container, .subscribe_container {
    padding: 0 25px;
  }
}

.header_topbar {
  padding: 30px 0 20px;
  border-bottom: 1px solid #EBEBEB;
}

.header_topbar .container, .header_topbar .slider_item-container, .header_topbar .news_container, .header_topbar .partners_container, .header_topbar .subscribe_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_topbar .container .header_socials, .header_topbar .slider_item-container .header_socials, .header_topbar .news_container .header_socials, .header_topbar .partners_container .header_socials, .header_topbar .subscribe_container .header_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header_topbar .container .header_socials-link, .header_topbar .slider_item-container .header_socials-link, .header_topbar .news_container .header_socials-link, .header_topbar .partners_container .header_socials-link, .header_topbar .subscribe_container .header_socials-link {
  width: 24px;
  height: 24px;
  margin: 0px 8px;
}

.header_topbar .container .header_socials-link:last-child, .header_topbar .slider_item-container .header_socials-link:last-child, .header_topbar .news_container .header_socials-link:last-child, .header_topbar .partners_container .header_socials-link:last-child, .header_topbar .subscribe_container .header_socials-link:last-child {
  margin-right: 0;
}

.header_topbar .container .header_socials-link:first-child, .header_topbar .slider_item-container .header_socials-link:first-child, .header_topbar .news_container .header_socials-link:first-child, .header_topbar .partners_container .header_socials-link:first-child, .header_topbar .subscribe_container .header_socials-link:first-child {
  margin-left: 0;
}

.header_topbar .container .header_logo-svg:hover, .header_topbar .slider_item-container .header_logo-svg:hover, .header_topbar .news_container .header_logo-svg:hover, .header_topbar .partners_container .header_logo-svg:hover, .header_topbar .subscribe_container .header_logo-svg:hover {
  cursor: pointer;
  fill: red;
}

.header_topbar .container .header_search-button, .header_topbar .slider_item-container .header_search-button, .header_topbar .news_container .header_search-button, .header_topbar .partners_container .header_search-button, .header_topbar .subscribe_container .header_search-button {
  background: none;
  border: none;
  padding: 0;
  height: 24px;
  cursor: pointer;
}

.header_topbar .container .header_search-button:focus, .header_topbar .slider_item-container .header_search-button:focus, .header_topbar .news_container .header_search-button:focus, .header_topbar .partners_container .header_search-button:focus, .header_topbar .subscribe_container .header_search-button:focus {
  outline: none;
}

.header_topbar .container .header_search-button:fill, .header_topbar .slider_item-container .header_search-button:fill, .header_topbar .news_container .header_search-button:fill, .header_topbar .partners_container .header_search-button:fill, .header_topbar .subscribe_container .header_search-button:fill {
  color: red;
}

.navigation {
  padding: 22px 25px;
  border-bottom: 1px solid #EBEBEB;
}

.navigation .container, .navigation .slider_item-container, .navigation .news_container, .navigation .partners_container, .navigation .subscribe_container {
  max-width: 900px;
}

.navigation .container .navigation_list, .navigation .slider_item-container .navigation_list, .navigation .news_container .navigation_list, .navigation .partners_container .navigation_list, .navigation .subscribe_container .navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation .container .navigation_item, .navigation .slider_item-container .navigation_item, .navigation .news_container .navigation_item, .navigation .partners_container .navigation_item, .navigation .subscribe_container .navigation_item {
  list-style-type: none;
}

.navigation .container .navigation_link, .navigation .slider_item-container .navigation_link, .navigation .news_container .navigation_link, .navigation .partners_container .navigation_link, .navigation .subscribe_container .navigation_link {
  text-decoration: none;
  color: #193441;
  font-size: 16px;
}

.navigation .container .navigation_link:hover, .navigation .slider_item-container .navigation_link:hover, .navigation .news_container .navigation_link:hover, .navigation .partners_container .navigation_link:hover, .navigation .subscribe_container .navigation_link:hover {
  color: #267D92;
}

@media (max-width: 770px) {
  .header_topbar .container .header_socials, .header_topbar .slider_item-container .header_socials, .header_topbar .news_container .header_socials, .header_topbar .partners_container .header_socials, .header_topbar .subscribe_container .header_socials {
    display: none;
  }
  .header_topbar .container .header_search-button, .header_topbar .slider_item-container .header_search-button, .header_topbar .news_container .header_search-button, .header_topbar .partners_container .header_search-button, .header_topbar .subscribe_container .header_search-button {
    display: none;
  }
  .header_topbar .container .header_logo, .header_topbar .slider_item-container .header_logo, .header_topbar .news_container .header_logo, .header_topbar .partners_container .header_logo, .header_topbar .subscribe_container .header_logo {
    width: 75%;
  }
  .header_topbar .container .header_logo svg, .header_topbar .slider_item-container .header_logo svg, .header_topbar .news_container .header_logo svg, .header_topbar .partners_container .header_logo svg, .header_topbar .subscribe_container .header_logo svg {
    width: 100%;
  }
  .navigation {
    display: none;
  }
}

.page_background {
  position: fixed;
  left: 0;
  right: 0;
  top: 23%;
  bottom: 0;
  z-index: -1;
  height: 100%;
}

.page_background .container, .page_background .slider_item-container, .page_background .news_container, .page_background .partners_container, .page_background .subscribe_container {
  max-width: 1260px;
}

.page_background .container .lines, .page_background .slider_item-container .lines, .page_background .news_container .lines, .page_background .partners_container .lines, .page_background .subscribe_container .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page_background .container .lines_row, .page_background .slider_item-container .lines_row, .page_background .news_container .lines_row, .page_background .partners_container .lines_row, .page_background .subscribe_container .lines_row {
  width: 25%;
  height: 100vh;
  border-left: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  position: relative;
}

.slider {
  position: relative;
  padding-top: 30px;
}

.slider_main {
  position: relative;
}

.slider_item {
  min-height: 450px !important;
  background: url("./images/main_slider-item.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(25, 52, 65, 0.0001)), to(rgba(25, 52, 65, 0.5)));
  background: url("./images/main_slider-item.png"), linear-gradient(180deg, rgba(25, 52, 65, 0.0001) 0%, rgba(25, 52, 65, 0.5) 100%);
  background-size: cover;
  position: relative;
}

.slider_item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider_description {
  display: inline-block;
  margin-top: 130px;
  color: #FFFFFF;
  font-size: 36px;
  max-width: 540px;
}

.slider_category {
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  display: inline-block;
  padding: 10px;
  background-color: #E06769;
  color: #fff;
}

.slider_navigation {
  position: absolute;
  bottom: 50px;
  left: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_navigation .arrow:hover::before {
  color: #267D92;
}

.slider_navigation .arrow::before {
  color: #fff;
}

.slider_navigation_dots ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.slider_navigation_dots ul li {
  padding: 0px 16px;
}

.slider_navigation_dots ul li button[type='button'] {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 14px;
}

.slider_navigation_dots ul li.slick-active button {
  opacity: 1;
}

.slider_navigation_dots ul li:nth-child(2n) {
  padding: 0;
}

.slider_navigation_dots ul li:first-child {
  padding-left: 24px;
}

.slider_navigation_dots ul li:last-child {
  padding-right: 24px;
}

.news .news_container, .news .grey_bg .container, .grey_bg .news .container, .news .partners .container, .partners .news .container, .news .grey_bg .slider_item-container, .grey_bg .news .slider_item-container, .news .partners .slider_item-container, .partners .news .slider_item-container, .news .grey_bg .partners_container, .grey_bg .news .partners_container, .news .partners .partners_container, .partners .news .partners_container, .news .grey_bg .subscribe_container, .grey_bg .news .subscribe_container, .news .partners .subscribe_container, .partners .news .subscribe_container, .news .contest_container {
  padding-bottom: 200px;
}

.news .container, .news .slider_item-container, .news .news_container, .news .partners_container, .news .subscribe_container {
  position: relative;
}

.news .container .news_banner, .news .slider_item-container .news_banner, .news .news_container .news_banner, .news .partners_container .news_banner, .news .subscribe_container .news_banner {
  position: absolute;
  bottom: -300px;
}

.news_container, .grey_bg .container, .partners .container, .grey_bg .slider_item-container, .partners .slider_item-container, .grey_bg .news_container, .partners .news_container, .grey_bg .partners_container, .partners .partners_container, .grey_bg .subscribe_container, .partners .subscribe_container, .contest_container {
  max-width: 1260px;
}

.news .navigation_arrow {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .navigation_arrow .arrow {
  padding: 0 8px;
}

.news .news_slider-navigation, .news .contest_slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news_slider-navigation .news_all, .news .contest_slider-navigation .news_all {
  text-decoration: none;
  color: #267D92;
  font-size: 14px;
  margin-left: 25px;
}

.news .news_slider-navigation .news_all:hover, .news .contest_slider-navigation .news_all:hover {
  color: #E06769;
}

.news .news_slider-item, .news .contest_item {
  max-width: 320px;
}

.news .news_slider-item .news_item-description, .news .contest_item .news_item-description {
  max-width: 280px;
  padding: 10px;
  text-align: justify;
}

.news .news_slider-item .news_item-description h2, .news .contest_item .news_item-description h2 {
  font-size: 18px;
  margin-bottom: 14px;
}

.news .news_slider-item .news_item-description h2:hover, .news .contest_item .news_item-description h2:hover {
  color: #E06769;
  cursor: pointer;
  text-decoration: underline;
}

.news .news_slider-item .news_item-description h3, .news .contest_item .news_item-description h3 {
  font-style: italic;
  font-size: 14px;
  color: #799A8E;
}

.news .news_slider .news_item-img {
  position: relative;
}

.news .news_slider .news_item-img .item_date {
  position: absolute;
  top: -20px;
  left: 20px;
}

@media (max-width: 770px) {
  .news .news_container, .news .grey_bg .container, .grey_bg .news .container, .news .partners .container, .partners .news .container, .news .grey_bg .slider_item-container, .grey_bg .news .slider_item-container, .news .partners .slider_item-container, .partners .news .slider_item-container, .news .grey_bg .partners_container, .grey_bg .news .partners_container, .news .partners .partners_container, .partners .news .partners_container, .news .grey_bg .subscribe_container, .grey_bg .news .subscribe_container, .news .partners .subscribe_container, .partners .news .subscribe_container, .news .contest_container {
    padding-bottom: 50px;
  }
}

.grey_bg, .partners {
  background-color: #F4F4F4;
  min-height: 340px;
  position: relative;
}

.grey_bg .container .news_banner, .partners .container .news_banner, .grey_bg .slider_item-container .news_banner, .partners .slider_item-container .news_banner, .grey_bg .news_container .news_banner, .partners .news_container .news_banner, .grey_bg .partners_container .news_banner, .partners .partners_container .news_banner, .grey_bg .subscribe_container .news_banner, .partners .subscribe_container .news_banner {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.grey_bg .container img, .partners .container img, .grey_bg .slider_item-container img, .partners .slider_item-container img, .grey_bg .news_container img, .partners .news_container img, .grey_bg .partners_container img, .partners .partners_container img, .grey_bg .subscribe_container img, .partners .subscribe_container img {
  max-width: 80vw;
}

@media (max-width: 770px) {
  .grey_bg, .partners {
    min-height: 240px;
  }
}

.news .news_container, .news .grey_bg .container, .grey_bg .news .container, .news .partners .container, .partners .news .container, .news .grey_bg .slider_item-container, .grey_bg .news .slider_item-container, .news .partners .slider_item-container, .partners .news .slider_item-container, .news .grey_bg .partners_container, .grey_bg .news .partners_container, .news .partners .partners_container, .partners .news .partners_container, .news .grey_bg .subscribe_container, .grey_bg .news .subscribe_container, .news .partners .subscribe_container, .partners .news .subscribe_container, .news .contest_container {
  padding-bottom: 200px;
}

.news .container, .news .slider_item-container, .news .news_container, .news .partners_container, .news .subscribe_container {
  position: relative;
}

.news .container .news_banner, .news .slider_item-container .news_banner, .news .news_container .news_banner, .news .partners_container .news_banner, .news .subscribe_container .news_banner {
  position: absolute;
  bottom: -300px;
}

.news_container, .grey_bg .container, .partners .container, .grey_bg .slider_item-container, .partners .slider_item-container, .grey_bg .news_container, .partners .news_container, .grey_bg .partners_container, .partners .partners_container, .grey_bg .subscribe_container, .partners .subscribe_container, .contest_container {
  max-width: 1260px;
}

.news .navigation_arrow {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .navigation_arrow .arrow {
  padding: 0 8px;
}

.news .news_slider-navigation, .news .contest_slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news_slider-navigation .news_all, .news .contest_slider-navigation .news_all {
  text-decoration: none;
  color: #267D92;
  font-size: 14px;
  margin-left: 25px;
}

.news .news_slider-navigation .news_all:hover, .news .contest_slider-navigation .news_all:hover {
  color: #E06769;
}

.news .news_slider-item, .news .contest_item {
  max-width: 320px;
}

.news .news_slider-item .news_item-description, .news .contest_item .news_item-description {
  max-width: 280px;
  padding: 10px;
  text-align: justify;
}

.news .news_slider-item .news_item-description h2, .news .contest_item .news_item-description h2 {
  font-size: 18px;
  margin-bottom: 14px;
}

.news .news_slider-item .news_item-description h2:hover, .news .contest_item .news_item-description h2:hover {
  color: #E06769;
  cursor: pointer;
  text-decoration: underline;
}

.news .news_slider-item .news_item-description h3, .news .contest_item .news_item-description h3 {
  font-style: italic;
  font-size: 14px;
  color: #799A8E;
}

.news .news_slider .news_item-img {
  position: relative;
}

.news .news_slider .news_item-img .item_date {
  position: absolute;
  top: -20px;
  left: 20px;
}

@media (max-width: 770px) {
  .news .news_container, .news .grey_bg .container, .grey_bg .news .container, .news .partners .container, .partners .news .container, .news .grey_bg .slider_item-container, .grey_bg .news .slider_item-container, .news .partners .slider_item-container, .partners .news .slider_item-container, .news .grey_bg .partners_container, .grey_bg .news .partners_container, .news .partners .partners_container, .partners .news .partners_container, .news .grey_bg .subscribe_container, .grey_bg .news .subscribe_container, .news .partners .subscribe_container, .partners .news .subscribe_container, .news .contest_container {
    padding-bottom: 50px;
  }
}

.contest {
  max-height: 424px;
}

.contest_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contest_container {
  -webkit-transform: translateY(-180px);
          transform: translateY(-180px);
  margin: auto;
}

.contest_container .navigation_arrow {
  display: none;
}

.contest_container .container, .contest_container .slider_item-container, .contest_container .news_container, .contest_container .partners_container, .contest_container .subscribe_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.contest_container .container .contest_all, .contest_container .slider_item-container .contest_all, .contest_container .news_container .contest_all, .contest_container .partners_container .contest_all, .contest_container .subscribe_container .contest_all {
  margin-left: 25px;
  text-decoration: none;
  color: #267D92;
}

.contest_container .container .contest_all:hover, .contest_container .slider_item-container .contest_all:hover, .contest_container .news_container .contest_all:hover, .contest_container .partners_container .contest_all:hover, .contest_container .subscribe_container .contest_all:hover {
  color: #E06769;
}

.contest_item {
  margin: 0px 10px;
}

.contest_item:first-child {
  margin-left: 0;
}

.contest_item:last-child {
  margin-right: 0;
}

.contest_item-img {
  position: relative;
}

.contest_item-description {
  max-width: 280px;
  padding: 10px;
  text-align: justify;
}

.contest .description_title {
  font-size: 18px;
  margin-bottom: 14px;
  font-weight: 500;
  text-align: initial;
}

.contest .description_category {
  font-weight: 300;
  font-size: 16px;
  color: #193441;
}

.contest_date {
  position: absolute;
  top: -20px;
  left: 20px;
}

@media (max-width: 1360px) {
  .contest_container {
    padding: 0px 60px;
  }
}

@media (max-width: 770px) {
  .contest_container .container, .contest_container .slider_item-container, .contest_container .news_container, .contest_container .partners_container, .contest_container .subscribe_container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contest_container .navigation_arrow {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contest_container .navigation_arrow .arrow {
    padding: 0 8px;
  }
}

.partners_container, .subscribe_container {
  max-width: 1260px !important;
}

.partners .container, .partners .slider_item-container, .partners .news_container, .partners .partners_container, .partners .subscribe_container {
  max-width: 1200px;
}

.partners_slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 35px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners_slider-navigation .navigation_arrow {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners_slider-navigation .navigation_arrow .arrow {
  padding: 0 8px;
}

.partners_slider-navigation .partners_all {
  margin-left: 25px;
  text-decoration: none;
  color: #267D92;
}

.partners_slider-navigation .partners_all:hover {
  color: #E06769;
}

@media (max-width: 770px) {
  .partners {
    min-height: 340px;
  }
}

.subscribe {
  height: 150px;
}

.subscribe_container {
  background: url("./images/subscribe-banner_image.png"), #193441;
  background-size: cover;
  mix-blend-mode: normal;
  min-height: 190px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_title {
  margin-right: 200px;
  font-weight: 500;
  font-size: 36px;
  color: #fff;
}

.subscribe_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe_place {
  padding: 10px;
  border: none;
}

.subscribe_button::before {
  content: '\e5c8';
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  background-color: #267D92;
  color: #fff;
  padding: 9px;
}

.subscribe_button:hover::before {
  background-color: #E06769;
}

@media (max-width: 770px) {
  .subscribe_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .subscribe_input {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .subscribe_title {
    margin-bottom: 24px;
  }
}

footer {
  background: #193441;
}

footer .footer_top {
  padding: 50px 0px 60px;
}

footer .footer_top .container, footer .footer_top .slider_item-container, footer .footer_top .news_container, footer .footer_top .partners_container, footer .footer_top .subscribe_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_socials a:nth-child(2) {
  margin: 0 8px;
}

footer .footer_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer .footer_navigation .navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 370px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer_navigation .navigation_item {
  list-style-type: none;
  padding: 0px 8px 16px;
}

footer .footer_navigation .navigation_link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

footer .footer_navigation .navigation_link:hover {
  color: #E06769;
}

footer .footer_logo-link {
  margin-right: 30px;
}

footer .footer_bottom {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer .footer_bottom .container, footer .footer_bottom .slider_item-container, footer .footer_bottom .news_container, footer .footer_bottom .partners_container, footer .footer_bottom .subscribe_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_copyright, footer .footer_makein {
  color: #fff;
  font-size: 14px;
}

footer .footer_makein .firmlink {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

@media (min-width: 770px) and (max-width: 850px) {
  footer .footer_top .container, footer .footer_top .slider_item-container, footer .footer_top .news_container, footer .footer_top .partners_container, footer .footer_top .subscribe_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer_socials {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 770px) {
  footer .footer_top .container, footer .footer_top .slider_item-container, footer .footer_top .news_container, footer .footer_top .partners_container, footer .footer_top .subscribe_container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer_socials {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  footer .footer_navigation {
    margin-top: 50px;
  }
  footer .footer_navigation .navigation_list {
    width: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer_navigation .navigation_item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  footer .footer_navigation .navigation_item:nth-child(1n) {
    text-align: left;
  }
  footer .footer_navigation .navigation_item:nth-child(2n) {
    text-align: right;
  }
}

@media (max-width: 490px) {
  footer .footer_top .container .footer_logo, footer .footer_top .slider_item-container .footer_logo, footer .footer_top .news_container .footer_logo, footer .footer_top .partners_container .footer_logo, footer .footer_top .subscribe_container .footer_logo {
    width: 60%;
  }
  footer .footer_top .container .footer_logo svg, footer .footer_top .slider_item-container .footer_logo svg, footer .footer_top .news_container .footer_logo svg, footer .footer_top .partners_container .footer_logo svg, footer .footer_top .subscribe_container .footer_logo svg {
    width: 100%;
  }
}

@media (max-width: 520px) {
  footer .footer_bottom .container, footer .footer_bottom .slider_item-container, footer .footer_bottom .news_container, footer .footer_bottom .partners_container, footer .footer_bottom .subscribe_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_copyright {
    margin-bottom: 30px;
  }
  footer .footer_navigation .navigation_item {
    text-align: initial !important;
  }
}
/*# sourceMappingURL=style.css.map */