.slider
    position: relative
    padding-top: 30px  
    &_main
        position: relative
    &_item
        min-height: 450px !important
        background: url('./images/main_slider-item.png'), linear-gradient(180deg, rgba(25, 52, 65, 0.0001) 0%, rgba(25, 52, 65, 0.5) 100%)
        background-size: cover
        position: relative
        &-container
            @extend .container
            display: flex
            flex-direction: column
    &_description
        display: inline-block
        // margin: 130px 0 0 140px
        margin-top: 130px
        color: #FFFFFF
        font-size: 36px
        max-width: 540px
    &_category
        display: inline-block
        align-self: flex-start
        // margin-left: 140px
        transform: translateY(-20px)
        display: inline-block
        padding: 10px
        background-color: $text-hover-red  
        color: #fff
    &_navigation
        position: absolute
        bottom: 50px
        left: 145px
        display: flex
        justify-content: space-between
        align-items: center
        .arrow
            &:hover::before
                color: $text-hover
            &::before
                color: #fff
        &_dots
            ul
                display: flex
                list-style-type: none
                li                
                    padding: 0px 16px
                    button[type='button']
                        @extend .button
                        color:#FFFFFF
                        opacity: 0.5
                        font-size: 14px
                li.slick-active
                    button
                        opacity: 1        
                li:nth-child(2n)
                    padding: 0
                li:first-child
                    padding-left: 24px
                li:last-child
                    padding-right: 24px


